/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background: linear-gradient(to bottom, #5c94fc, #8bd7f7); /* Mario sky */
  color: #fff;
  min-height: 100vh;
}
